body{
      font-family: "Montserrat", sans-serif;
      margin:0;
      background-color: black;
      color: white;
      overflow: hidden;
      display: -ms-inline-grid;
}
.main{
    display: flex;
    height:100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: black;
    border-radius: 1rem;/*1rem=16px*/
    height: 90vh;
    
}
.main-content{
    background: linear-gradient(#232323,#121212,#000000);
    border-radius: 1rem;
    height: 90vh;
    flex:1;
    overflow: auto;
    padding:0rem 1.5rem;
}
.music-player{
    background-color: black; 
    position:fixed;
    bottom:0;
    left:0;
    height: 10vh;
    width:100%;

}
a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}
.nav{
    background-color: #121212;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem; /*1 rem is relative to font size usually 16 px topbottom leftright*/

}
.nav-option{
    line-height: 2.5rem;
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    opacity: 0.7;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
    border-radius: 0.75rem;
    line-height: 60px;
    padding: 0.5rem 0.5rem;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.library .options{
    font-size: 1rem;
    opacity: 0.7;
    margin: 0.5rem 0.75rem;
    
    
}
.lib-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
}
.lib-option .left:hover{
    opacity: 1;
}
.lib-option .right:hover{
    opacity:1;
}
.box{
    height:8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.5rem 0.5rem;
    padding: 0.25rem 1.25rem;
}
.box-p1{
    font-size: 1rem;
    height: 1.25rem;
}
.box-p2{
    font-size: 0.75rem;
    height: 1.25rem;
    padding: 0.25rem 0.5rem 1.25rem 0rem ;
    opacity: 0.85;
}

.badge{
    background-color: white;
    border: none;
    font-weight: 700;
    border-radius: 1rem;
    height:1.75rem;
    padding: 0rem 2rem;
}
.top-icon-list{
    position: sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    background-color: #232323;
    padding:1rem;
    z-index:10;
}
.top-icon-list .arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.arrows .left-arr{
    border-color: white;

}
.arrows .left-arr img:hover, .arrows .right-arr img:hover{
    height:2rem;
}
.arrows .right-arr{
    border-radius: 50%;
}
.arrows img{
    height: 1.5rem;
    margin:0.5rem;
    background-color: #000000;
    border-radius: 50%;
    padding: 0.4rem;
}
.top-icon-list .badge-tray{
    display:flex;
    justify-content: space-between;
}

.badge-tray button, i {
    font-weight: 700;
    margin:0.5rem 1rem;
    font-size: 1rem;
}

.badge-tray .install-badge button{
    font-weight: 700;
    background-color: black;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0.7;
}
.install-badge button i{
    margin:0.5rem 0rem;
}
.install-badge button:hover{
    opacity:1;
}
.badge-tray .user-det{
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
}
.badge-tray .user-det i{
    font-size:1.2rem;
    opacity:0.7;
}
.badge-tray .user-det i:hover{
    opacity:1;
}
@media (max-width: 1000px){
    .prem-badge, .right-arr{
        display: none;
    }
}
.cards-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;

    
}
.card{
    background-color: #232323;
    width:150px;
    border-radius: 0.5rem;
    padding:1rem;
    margin:2rem;
}
.card img{
    width:100%;
    border-radius: 0.5rem;
    
}
.card-title{
    font-weight: 700;
}
.card-info{
    font-size: 0.8rem;
    opacity: 0.7;
}
.card .card-info:hover{
    opacity: 1;
}
.footer{
    height: 200px;
}
.footer .line{
    width:90%;
    height:30%;
    border-top: 1px solid white;
    opacity:0.5;
    align-items: center;

}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.album{
    width:25%;
}
.player{
    padding:0.5rem;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.controls{
    width:25%;
}
.player-control-icon{
    height: 1rem;
    margin-right: 2rem;
    opacity:0.7;
    padding: 0.3rem;

}
.player-control-icon:hover{
    opacity: 1;
}
.progress-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.progress_slider{
    width:70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;

}
.progress_slider::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height:0.15rem;
}
.player-control .mid{
    opacity:1; 
    height:2rem
}
.player-control .mid:hover{
    height:2.5rem;
}
