body{
      font-family: "Montserrat", sans-serif;
      margin:0;
      background-color: black;
      color: white;
      overflow: hidden;
      display: -ms-inline-grid;
}
.main{
    display: flex;
    height:100vh;
}
.sidebar{
    background-color: #121212;
    border-radius: 1rem;/*1rem=16px*/
    height: 90vh;
    width:340px;
}
.main-content{
    background-color: #121212;
    border-radius: 1rem;
    height: 90vh;
    flex:1;
    overflow: auto;
}
.music-player{
    background-color: black; 
    position:fixed;
    bottom:0;
    height: 10vh;
    width:100%
}