body{
      font-family: "Montserrat", sans-serif;
      margin:0;
      background-color: black;
      color: white;
      overflow: hidden;
      display: -ms-inline-grid;
}
.main{
    display: flex;
    height:100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: green;
    border-radius: 1rem;/*1rem=16px*/
    height: 90vh;
    width:340px;
}
.main-content{
    background-color: #121212;
    border-radius: 1rem;
    height: 90vh;
    flex:1;
    overflow: auto;
}
.music-player{
    background-color: black; 
    position:fixed;
    bottom:0;
    height: 10vh;
    width:100%
}
a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}
.nav{
    background-color: #121212;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem; /*1 rem is relative to font size usually 16 px topbottom leftright*/

}
.nav-option{
    line-height: 2.5rem;
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    opacity: 0.7;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
    border-radius: 0.75rem;
    line-height: 60px;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.library .options{
    font-size: 1rem;
    opacity: 0.7;
    margin: 0.5rem 0.75rem;
    
    
}
.lib-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
}
.lib-option .left:hover{
    opacity: 1;
}
.lib-option .right:hover{
    opacity:1;
}
.box{
    height:8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.5rem 0rem;
    padding: 0.25rem 1.25rem;
}
.box-p1{
    font-size: 1rem;
    height: 1.25rem;
}
.box-p2{
    font-size: 0.75rem;
    height: 1.25rem;
    padding: 0.25rem 0.5rem 1.25rem 0rem ;
    opacity: 0.85;
}

.badge{
    background-color: white;
    border: none;
    font-weight: 700;
    border-radius: 1rem;
    height:1.75rem;
    padding: 0rem 2rem;
}